<div class="main">
    <div class="container">
        <br />
        <br />
        <br />
        <div class="form1">
            <form class="p-5" method="POST" action="https://formspree.io/f/mzbyaleb">
                <p style="padding: left; font-weight: bold; font-size: 30px">
                    Contact Us
                </p>

                <hr style="
            height: 2px;
            border-width: 0;
            color: #000;
            background-color: #000;
          " />
                <br />

                <div class="row">
                    <div class="col">
                        <input type="text" id="defaultContactFormName" name="name" class="form-control mb-4" placeholder="Name" />
                    </div>
                    <div class="col">
                        <input type="text" id="defaultContactFormName" name="telephone" class="form-control mb-4" placeholder="Contact No." />
                    </div>
                </div>
                <!-- Email -->
                <input type="email" id="defaultContactFormEmail" name="_replyto" class="form-control mb-4" placeholder="E-mail" />

                <!-- Message -->
                <div class="form-group">
                    <textarea class="form-control rounded-0" name="_subject" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                </div>

                <!-- <div class="custom-control custom-checkbox mb-4"></div> -->

                <!-- Send button -->
                <button class="btn btn-info btn-block mt-5" style="color: #b8b1b1; background-color: #134f5c; font-size: 20px" type="submit">
          Submit
        </button>
            </form>
        </div>
    </div>
    <br />

    <!-- <div class="container">
        <div class="responsive-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14687.51778362012!2d72.5571343!3d23.0281982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbc3ca1755a0e52e!2sManavta%20NGO!5e0!3m2!1sen!2sin!4v1627294035227!5m2!1sen!2sin" width="600" height="450"
                style="border: 0" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div> -->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- <h4 style="color: #fff; text-align: center" class="font-weight-bold">
    Manavta NGO Address
  </h4> -->
    <!-- <div class="container mt-4">
        <div class="form2">
            <form class="p-5">
                <h5 style="color: #134f5c" class="font-weight-bold">

                    Shop no. 12-14, Gold Souk Complex, B/h Sapphire Complex, beside YES Bank, Ahmedabad, Gujarat 380009
                </h5>
            </form>
        </div>
    </div> -->
    <br />
    <br />
</div>
